
@import '../../../_common/styles/common.scss';


#banner{
	width: 728px;
	height: 90px;	
}

.frame1{
	// opacity: 1;
}


#hero{
	$scale: .43;
	@include pos-scale(419, 15, $scale);	
	.house{ 
		transform-origin: 0px 0px; 
		@include pos(0, 0);	
	}
	
	.car{ 
		@include pos(139, 105);	
	}
}


.logo{
	width: 140px;
	// height: 20px;
	@include pos(575, 32);	
}


.t{
	@include pos(19, 16);
	font-size: 28px;
	line-height: 31px;
}



.frame1 {
	// opacity: 1;	
	.line{ 
		width: 53px; 
		// height: 78px; 
		&.left{ @include pos(360, 25); }
		&.right{ @include pos(512, 25); }
	}	
}


.frame2{
	.cta{
		@include pos(264, 34);		
		// border: 1px solid red;
		width: 105px;
		height: 32px;
		line-height: 32px;		
		font-size: 13px;
		// letter-spacing: .2px;		
	}
}