@import './common.scss';

.frame1{
	opacity: 1;
}



.logo{
	width: 108px;
	// height: 20px;
	@include pos(169, 203);	
}

.t{
	@include pos(25, 17);
	font-size: 23px;
	letter-spacing: .7px;
	word-spacing: 1px;
	line-height: 29px;
	// color: red;
}

.frame1 {
	.line{ 
		width: 150px; 
		height: 133px; 
		clip: rect(0px,150px,133px,0px);
		&.left{ @include pos(0, 165); }
		&.right{ @include pos(150, -50); }
	}	
	#hero{		
		@include pos(82, 91);
		.house{
			width: 113px;
			height: 86px;
		}
		.car{  
			@include pos(81, 56);
			width: 57px;
			height: 28px;
		}
	}
}

.frame2{
	.cta{
		@include pos(24, 110);		
		// border: 1px solid red;
		// background-color: transparent;
		// color: red;
		width: 151px;		
		height: 32px;
		line-height: 28px;		
		letter-spacing: .3px;
		font-size: 16px;
	}
}

#banner{
	width: 300px;
	height: 250px;	
}