@import './common.scss';

#banner{
	width: 300px;
	height: 600px;	
}



.house{ transform-origin: 0px 0px; }
.car{ transform-origin: 220px 375px; }
.logo{
	width: 161px;
	height: 37px;
	@include pos(113, 535);	
}


.t{
	@include pos(27, 29);
	font-size: 30px;
	letter-spacing: -.2px;
	line-height: 33px;
}



.frame1 {
	// opacity: 1;	
	.line{ 
		width: 154px; 
		height: 137px; 
		clip: rect(0px,185px,164px,0px);
		&.left{ 
			@include pos(0, 352); 
			
		}
		&.right{ 
			@include pos(154, 136); 
			
		}
		
	}	
}


.frame2{
	.cta{
		@include pos(28, 154);		
		// border: 1px solid red;
		width: 151px;
		height: 35px;
		line-height: 35px;		
		font-size: 16px;
		letter-spacing: .2px;		
	}
}