@import './common.scss';


.frame1 {
    // opacity: 1;
    .line.left{
        @include pos(-40, -50);
        width: 150px;
        height: 133px;
        clip: rect(0px,150px,133px,0px);
    }

    .t{
        @include pos(8, 5);
        font-size: 16px;
        // font-family: pratt;
        letter-spacing: .3px;
        word-spacing: 1px;
        line-height: 19px;
        // color: red;
    }

   

}


.frame2{
	.cta{
		@include pos(10, 9);		
		// border: 1px solid red;
		// background-color: transparent;
		// color: red;
		width: 137px;		
		height: 32px;
		line-height: 32px;		
		letter-spacing: .3px;
		font-size: 14px;
    }

    .arrow{
        @include pos(162, 15);
        
    }
    

   
}

.logo{
    width: 111px;
    @include pos(200, 14);        
}


#banner{
    width: 320px;
    height: 50px;
}