<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">		
		<!-- <img class="trace" src="./frames/f1.jpg" alt="" inline> -->
		<img class="line left" id="line1" src="../_common/images/line.svg" alt="" inline>
		<img class="line right" id="line2" src="../_common/images/line.svg" alt="" inline>
		<p class="t t1">Save up to 20%<br/>
			on your home<br/>
			insurance </p>
		
	</div>	
	<div class="frame frame2">
		<!-- <img class="trace" src="./frames/f2.jpg" alt="" inline> -->
		<p class="t t2">When you’re<br/>
			claims-free<br/>
			with your<br/>
			previous insurer
			</p>
		<div class="cta" id="cta">Get a quote</div>
	</div>

	<img class="house" src="../_common/images/house.png" alt="" inline>
	<img class="logo" src="../_common/images/logo.svg" inline>

</div>