<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		<!-- <img class="trace" src="./frames/f1.jpg" alt="" inline> -->
		<img class="line left" src="../_common/images/line.svg" alt="" inline>
		<img class="line right" src="../_common/images/line.svg" alt="" inline>

		
		<p class="t t1">Save up to 20% on<br/>home insurance</p>
		
	</div>	
	<div class="frame frame2">
		<!-- <img class="trace" src="./frames/f2.jpg" alt="" inline> -->
		<p class="t t2">When you bundle<br/>home and auto<br/></p>
		<div class="cta" id="cta">Get a Quote</div>
	</div>

	<img class="house" src="./images/house.png" alt="" inline>
	<img class="car" src="./images/car.png" alt="" inline>
	<img class="logo" src="../_common/images/logo.svg" inline>


</div>